@model HR_Demo_With_Both_Ways.Controllers.DEPARTMENT

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DEPARTMENT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DEPARTMEN_TNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DEPARTMEN_TNAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.DEPARTMENT_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
